@tailwind base;
@tailwind components;
@tailwind utilities;


/* .swiper {
  width: 100%;
  height: 500px;
}
*/
/* .swiper-slide {
  overflow: visible;
} */

/*
 .swiper-slide img {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}  */

.swiper-pagination-bullet {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: red;
}




html {
  font-family: var(--font-raleway);
  
  
}

.no-drag {
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.product-title{
  text-shadow: 7px 5px 4px rgba(0, 0, 0, 0.25);
}

.fade-left{
  animation: fadeleft .3s ease-in-out;
}

.fade-right{
  animation: faderight .3s ease-in-out;
}


@keyframes faderight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeleft {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

